div
{
	width: 600px;
	
	margin:auto;
}
body
{
	background:#e3e3e3;
}
blockquote
{
	margin-left: 0px;
	border:1px solid white;
	text-align: center;
}
h1
{
	font-family: sans-serif;
}
h2
{
	font-family: sans-serif;
}
